@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
    ViewBag.Title= "Services";
}
<div id="Services" class="Servicess">
    <div class="container">
        <h3 class="headers">SERVICES</h3>
        <div class="boxServices d-flex">
            <div class="boxService1 d-flex justify-content-start align-items-center" asp-controller="home">
                <div class="icons d-flex justify-content-center align-items-center"><i class="fa-solid fa-user-plus"></i></div>
                <h5>Create Employee</h5>
                <p>you can create an new Employee, if you click Create</p>
            </div>
            <div class="boxService2 d-flex justify-content-start align-items-center ">
                <div class="icons d-flex justify-content-center align-items-center"><i class="fa-solid fa-user-pen"></i></div>
                <h5>Edit Employee</h5>
                <p>win you create an new Employee, you can Edit or Update Data, Click Edit in Details Page</p>
            </div>
            <div class="boxService3 d-flex justify-content-start align-items-center">
                <div class="icons d-flex justify-content-center align-items-center"><i class="fa-solid fa-user-slash"></i></div>
                <h5>Delete Employee</h5>
                <p>if you want to delete any Employee, just click delete</p>
            </div>
            <div class="boxService3 d-flex justify-content-start align-items-center">
                <div class="icons d-flex justify-content-center align-items-center"><i class="fa-solid fa-street-view"></i></div>
                <h5>View Employee</h5>
                <p>you can watch data for any employee</p>
            </div>
        </div>
    </div>
</div>